/* modal.css */
.post-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
}
.modal-close {
    text-align: left;
    border: none;
    color: #ADADAD;
    margin-left: -1em;
}
.modal-close-bot{
    text-align: center;
    margin-top: 0.5em;
    border: 1px solid #FFDE9B;
}
.post-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 80%; 
    max-width: 600px; 
    background: white; 
    padding: 20px; 
    border-radius: 15px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
}
.post-header {
    display: flex;
    flex-direction: row;
}
.username {
    color: #fdbb39;
    margin-top: .2em;
    margin-left: .5em;
}
#title {
    margin-top: 1em;
}
#title, #content {
    margin-bottom: 15px;
    padding: 10px;
    width: 100%; 
    font-family: Poppins;
    border-radius: 10px;
    border: 0.5px solid #ADADAD;
}
/* modal.css */
.file-upload {
    display: inline-block;
    background-color: transparent;
    color: #ADADAD;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: -0.5em;
    margin-bottom: 15px;
    padding: 10px;
    font-family: Poppins;
  }
.image-label {
    margin-top: -1em;
}
.image-label li{
    margin-bottom: .5em;
}
.img-remove {
    margin-top: -1.85em;
    margin-left: 15em;
    padding: 5px 10px;
    font-size: 14px;
    text-align: center;
    display: flex;
    position: absolute;
    border: none;
    color: red;
}
.img-icon {
    margin-left: -.2em;
    margin-right: .8em;
}
.post-btn {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #FFDE9B;
}