@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.sidebar{
    display: flex;
    height: 100vh;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* Keeps the sidebar stuck at the top when you scroll down */
    z-index: 100; /* Ensures it's on top of other content if necessary */
}

.custom-sidebar {
    background-color: #fff !important;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.05) !important;
    color: #FDBC39 !important; 
}

.jGeaPm .head-div{
    padding: 20px 20px !important;
}

.jGeaPm .head-div.toggled{
    margin: 20px !important;
}

.hQSxZz.toggled {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}


.head-text .logoimg{
    width: 150px !important;
    height: auto !important;
    margin-right: 10px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-header .head-div .head-text a h1{
    font-size: 40px !important;
    margin: 0 !important;
    color: #FDBC39 !important;
}

.custom-header .icon-suffix{
    display: flex !important;
    align-items: center !important;
}

.sidebar-content a{
    font-size: 18px !important;
    font-weight: 300 !important;
    color: #7F7F7F !important;
    display: block !important;
}
.sidebar-content-one a{
    font-size: 18px !important;
    font-weight: 300 !important;
    color: #7F7F7F !important;
    display: block !important;
    margin-top: -10.5em;
}

.sidebar-content-footer{
    text-decoration: none !important;
}

.sidebar-content-footer a{
    text-decoration: none !important;
    font-size: 18px !important;
    font-weight: 300 !important;
    color: #7F7F7F !important;
}

.divider {
    display: flex !important;
    align-self: center !important; /* Ensure the divider is centered */
    height: .1px !important;
    width: 100% !important;
    background-color: #ededed !important; /* Adjust color and transparency as needed */
}

.fvWJS .activeClicked > li{
    border-radius: 10px !important;
    background: linear-gradient(90deg, #FDBC39 9%, #E87D00 85.5%) !important;
    color: #fff !important;
}


.sidebar-content li:hover{
    background: linear-gradient(90deg, #FDBC39 9%, #E87D00 85.5%) !important;
    border-radius: 10px !important;
    color: #ffffff !important; /* This changes the text color to white for better contrast */
}

.sidebar-content-footer li:hover{
    background: linear-gradient(90deg, #FDBC39 9%, #E87D00 85.5%) !important;
    border-radius: 10px !important;
    color: #ffffff !important;
}


.custom-profile-header {
    display: flex !important;
    justify-content: center!important;
    align-items: center !important;
    border-bottom: none !important;
    margin-bottom: -50px;
}

.head-text .avatar-sidebar img {
    position: sticky;
    align-content: center !important;
    object-fit: cover;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    margin-left: 45px;
}


.profile-name-sidebar {
    display: flex !important;
    justify-content: center!important;
    align-items: center !important;
    color: #838181;
    letter-spacing: normal;
    margin-top: 20px;
 
}

.name-sidebar {
    font-size: 20px;
    font-style: normal;
    letter-spacing: normal;
    align-self: center;
    border-bottom: 2px solid #FDBC39;
    width: 230px;
    padding-bottom: 20px;
    
}

